.page-container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
}

.editor-container {
  height: 80%;
  width: 60%;
}

.base-node {
  border: solid 0.13rem black;
  border-radius: 0.5rem;
  background-color: white;
}

.node-title {
  font-size: xx-large;
  font-weight: bold;
}

.board-space {
  height: 5rem;
  width: 5rem;
  border: solid 0.13rem black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-row {
  display: flex;
}

.node-btn-container {
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  cursor: pointer;
}